.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 25%;
  background: #0f3460;
}

#page-top {
  height: 100%;
  background: #16213e;
  --bs-primary: #16213e;
  --bs-primary-rgb: 22,33,62;
  --bs-secondary: #0f3460;
  --bs-secondary-rgb: 15,52,96;
}

.masthead {
  height: 75%;
  --bs-body-bg: #16213e;
  background: #16213e;
}

.bg-primary {
  background-color: #16213e !important;
}

i {
  color: #E94560;
}

.btn {
  color: #E94560;
  border-color: #E94560;
  border-width: 2px;
}

hr {
  background: #533483;
  padding: 2px;
  width: 120px;
  border-radius: 50px;
  border-color: #533483;
}

